In [ ]:
from google.colab import files
uploaded=files.upload()

Saving customers_dataset.csv to customers_dataset.csv

In [ ]:
import pandas as pd
df=pd.read_csv("customers_dataset.csv")
print(df)

        ID   Age  Income  Salary  Experience_Years  Working_Hours  \
0        1  99.0   77246   28536                12             52
1        2  99.0   85911  219241                16             22
2        3  35.0  177619   78130                 9             53
3        4  22.0  162115  232865                10             34
4        5  30.0  283933  181091                 9             55
...    ...   ...     ...     ...               ...            ...
4995  4996  35.0  297557   64909                22             46
4996  4997  40.0  184892  244927                20             33
4997  4998   NaN  291005  126843                23             20
4998  4999  18.0  176068  204199                19             42
4999  5000  22.0   27827  111243                13             57

      Study_Hours  Gender Marital_Status       City  ... Country  \
0             8.8    Male        Married  Bangalore  ...     USA
1             1.3       M         Single    Chennai  ...     USA
2             5.1       M         Single  Hyderabad  ...     USA
3             2.9    Male         Single  Bangalore  ...     USA
4             1.1       M         Single      Delhi  ...      UK
...           ...     ...            ...        ...  ...     ...
4995          8.5       M         Single      Delhi  ...   India
4996          1.1       M         Single  Bangalore  ...      UK
4997          3.3       F        Married  Hyderabad  ...      UK
4998          8.0  Female        Married     Mumbai  ...   India
4999          4.8       F        Married     Mumbai  ...   India

     Education_Level Department  Job_Role Subscription Scholarship  \
0                 PG  Marketing     Clerk          Yes         Yes
1                 UG         IT     Clerk           No          No
2                PhD  Marketing  Engineer          Yes          No
3                 PG    Finance  Engineer          Yes         Yes
4                 UG         HR     Clerk          Yes         Yes
...              ...        ...       ...          ...         ...
4995              UG         HR  Engineer          Yes          No
4996              PG    Finance   Analyst          Yes         Yes
4997              PG         IT   Analyst          Yes          No
4998              PG    Finance   Manager           No          No
4999              UG         HR   Analyst           No         Yes

     Loan_Status Blood_Group Rating   Join_Date
0       Rejected          A+    5.0         NaN
1       Approved          B+    3.0  15-08-2023
2       Approved          O-    5.0  15-08-2023
3       Approved          A+    NaN  2023-01-01
4       Approved         AB+    3.0  2023/06/15
...          ...         ...    ...         ...
4995    Approved          O+    3.0  15-08-2023
4996    Approved          O-    1.0  2023/06/15
4997    Approved          A+    5.0  2023/06/15
4998    Rejected          O-    5.0         NaN
4999    Rejected          O+    2.0  2023/06/15

[5000 rows x 21 columns]

In [ ]:
df.shape

(5000, 21)

In [ ]:
num_cols = ["Salary", "Age", "Income"]
for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

In [ ]:
num_cols=["Age","Income","Salary"]
df[num_cols]=df[num_cols].fillna(df[num_cols].median())

In [ ]:
at_cols = ["Gender", "Job_Role", "City", "State"]
for col in num_cols:
  df[col] = df[col].fillna(df[col].mode()[0])

In [ ]:
df['Gender']=df['Gender'].replace({
    "M":"Male",
    "male":"Male",
    "f":"Female",
    "female":"Female"
})
print(df)

        ID   Age  Income  Salary  Experience_Years  Working_Hours  \
0        1  99.0   77246   28536                12             52
1        2  99.0   85911  219241                16             22
2        3  35.0  177619   78130                 9             53
3        4  22.0  162115  232865                10             34
4        5  30.0  283933  181091                 9             55
...    ...   ...     ...     ...               ...            ...
4995  4996  35.0  297557   64909                22             46
4996  4997  40.0  184892  244927                20             33
4997  4998  30.0  291005  126843                23             20
4998  4999  18.0  176068  204199                19             42
4999  5000  22.0   27827  111243                13             57

      Study_Hours  Gender Marital_Status       City  ... Country  \
0             8.8    Male        Married  Bangalore  ...     USA
1             1.3    Male         Single    Chennai  ...     USA
2             5.1    Male         Single  Hyderabad  ...     USA
3             2.9    Male         Single  Bangalore  ...     USA
4             1.1    Male         Single      Delhi  ...      UK
...           ...     ...            ...        ...  ...     ...
4995          8.5    Male         Single      Delhi  ...   India
4996          1.1    Male         Single  Bangalore  ...      UK
4997          3.3       F        Married  Hyderabad  ...      UK
4998          8.0  Female        Married     Mumbai  ...   India
4999          4.8       F        Married     Mumbai  ...   India

     Education_Level Department  Job_Role Subscription Scholarship  \
0                 PG  Marketing     Clerk          Yes         Yes
1                 UG         IT     Clerk           No          No
2                PhD  Marketing  Engineer          Yes          No
3                 PG    Finance  Engineer          Yes         Yes
4                 UG         HR     Clerk          Yes         Yes
...              ...        ...       ...          ...         ...
4995              UG         HR  Engineer          Yes          No
4996              PG    Finance   Analyst          Yes         Yes
4997              PG         IT   Analyst          Yes          No
4998              PG    Finance   Manager           No          No
4999              UG         HR   Analyst           No         Yes

     Loan_Status Blood_Group Rating   Join_Date
0       Rejected          A+    5.0         NaN
1       Approved          B+    3.0  15-08-2023
2       Approved          O-    5.0  15-08-2023
3       Approved          A+    NaN  2023-01-01
4       Approved         AB+    3.0  2023/06/15
...          ...         ...    ...         ...
4995    Approved          O+    3.0  15-08-2023
4996    Approved          O-    1.0  2023/06/15
4997    Approved          A+    5.0  2023/06/15
4998    Rejected          O-    5.0         NaN
4999    Rejected          O+    2.0  2023/06/15

[5000 rows x 21 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Education_Level']=le.fit_transform(df['Education_Level'])
df.head()

,ID,Age,Income,Salary,Experience_Years,Working_Hours,Study_Hours,Gender,Marital_Status,City,...,Country,Education_Level,Department,Job_Role,Subscription,Scholarship,Loan_Status,Blood_Group,Rating,Join_Date
0,1,99.0,77246,28536,12,52,8.8,Male,Married,Bangalore,...,USA,0,Marketing,Clerk,Yes,Yes,Rejected,A+,5.0,NaN
1,2,99.0,85911,219241,16,22,1.3,Male,Single,Chennai,...,USA,2,IT,Clerk,No,No,Approved,B+,3.0,15-08-2023
2,3,35.0,177619,78130,9,53,5.1,Male,Single,Hyderabad,...,USA,1,Marketing,Engineer,Yes,No,Approved,O-,5.0,15-08-2023
3,4,22.0,162115,232865,10,34,2.9,Male,Single,Bangalore,...,USA,0,Finance,Engineer,Yes,Yes,Approved,A+,NaN,2023-01-01
4,5,30.0,283933,181091,9,55,1.1,Male,Single,Delhi,...,UK,2,HR,Clerk,Yes,Yes,Approved,AB+,3.0,2023/06/15

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoding_col=["Education_Level","Department"]
le=LabelEncoder()
for col in encoding_col:
  df[col]=le.fit_transform(df[col])
df.head()

,ID,Age,Income,Salary,Experience_Years,Working_Hours,Study_Hours,Gender,Marital_Status,City,...,Country,Education_Level,Department,Job_Role,Subscription,Scholarship,Loan_Status,Blood_Group,Rating,Join_Date
0,1,99.0,77246,28536,12,52,8.8,Male,Married,Bangalore,...,USA,0,3,Clerk,Yes,Yes,Rejected,A+,5.0,NaN
1,2,99.0,85911,219241,16,22,1.3,Male,Single,Chennai,...,USA,2,2,Clerk,No,No,Approved,B+,3.0,15-08-2023
2,3,35.0,177619,78130,9,53,5.1,Male,Single,Hyderabad,...,USA,1,3,Engineer,Yes,No,Approved,O-,5.0,15-08-2023
3,4,22.0,162115,232865,10,34,2.9,Male,Single,Bangalore,...,USA,0,0,Engineer,Yes,Yes,Approved,A+,NaN,2023-01-01
4,5,30.0,283933,181091,9,55,1.1,Male,Single,Delhi,...,UK,2,1,Clerk,Yes,Yes,Approved,AB+,3.0,2023/06/15

In [ ]:
#binary encoding
df['Loan_Status']=df['Loan_Status'].map({"Rejected":0,"Approved":1})
df.head()

,ID,Age,Income,Salary,Experience_Years,Working_Hours,Study_Hours,Gender,Marital_Status,City,...,Country,Education_Level,Department,Job_Role,Subscription,Scholarship,Loan_Status,Blood_Group,Rating,Join_Date
0,1,99.0,77246,28536,12,52,8.8,Male,Married,Bangalore,...,USA,0,3,Clerk,Yes,Yes,0,A+,5.0,NaN
1,2,99.0,85911,219241,16,22,1.3,Male,Single,Chennai,...,USA,2,2,Clerk,No,No,1,B+,3.0,15-08-2023
2,3,35.0,177619,78130,9,53,5.1,Male,Single,Hyderabad,...,USA,1,3,Engineer,Yes,No,1,O-,5.0,15-08-2023
3,4,22.0,162115,232865,10,34,2.9,Male,Single,Bangalore,...,USA,0,0,Engineer,Yes,Yes,1,A+,NaN,2023-01-01
4,5,30.0,283933,181091,9,55,1.1,Male,Single,Delhi,...,UK,2,1,Clerk,Yes,Yes,1,AB+,3.0,2023/06/15

In [ ]:
df['Marital_Status']=df['Marital_Status'].map({"Married":1,"Single":0})
df.head()

,ID,Age,Income,Salary,Experience_Years,Working_Hours,Study_Hours,Gender,Marital_Status,City,...,Country,Education_Level,Department,Job_Role,Subscription,Scholarship,Loan_Status,Blood_Group,Rating,Join_Date
0,1,99.0,77246,28536,12,52,8.8,Male,1,Bangalore,...,USA,0,3,Clerk,Yes,Yes,0,A+,5.0,NaN
1,2,99.0,85911,219241,16,22,1.3,Male,0,Chennai,...,USA,2,2,Clerk,No,No,1,B+,3.0,15-08-2023
2,3,35.0,177619,78130,9,53,5.1,Male,0,Hyderabad,...,USA,1,3,Engineer,Yes,No,1,O-,5.0,15-08-2023
3,4,22.0,162115,232865,10,34,2.9,Male,0,Bangalore,...,USA,0,0,Engineer,Yes,Yes,1,A+,NaN,2023-01-01
4,5,30.0,283933,181091,9,55,1.1,Male,0,Delhi,...,UK,2,1,Clerk,Yes,Yes,1,AB+,3.0,2023/06/15

In [ ]:
df=pd.get_dummies(df,columns=['Blood_Group'],drop_first=True)
df.head()

,ID,Age,Income,Salary,Experience_Years,Working_Hours,Study_Hours,Gender,Marital_Status,City,...,Job_Role,Subscription,Scholarship,Loan_Status,Rating,Join_Date,Blood_Group_AB+,Blood_Group_B+,Blood_Group_O+,Blood_Group_O-
0,1,99.0,77246,28536,12,52,8.8,Male,1,Bangalore,...,Clerk,Yes,Yes,0,5.0,NaN,False,False,False,False
1,2,99.0,85911,219241,16,22,1.3,Male,0,Chennai,...,Clerk,No,No,1,3.0,15-08-2023,False,True,False,False
2,3,35.0,177619,78130,9,53,5.1,Male,0,Hyderabad,...,Engineer,Yes,No,1,5.0,15-08-2023,False,False,False,True
3,4,22.0,162115,232865,10,34,2.9,Male,0,Bangalore,...,Engineer,Yes,Yes,1,NaN,2023-01-01,False,False,False,False
4,5,30.0,283933,181091,9,55,1.1,Male,0,Delhi,...,Clerk,Yes,Yes,1,3.0,2023/06/15,True,False,False,False

In [ ]:
df.to_csv("cleaned_banking_dataset.csv",index=False)
from google.colab import files
files.download("customers_dataset.csv")