In [ ]:
from google.colab import files
uploaded=files.upload()

Saving healthcare_dataset.csv to healthcare_dataset.csv

In [ ]:
import pandas as pd
df=pd.read_csv("healthcare_dataset.csv")
print(df)

        ID   Age  Income  Salary  Experience_Years  Working_Hours  \
0        1  18.0  159231  170661                 5             36
1        2  30.0  188094  111364                10             34
2        3   NaN   99175   66792                14             28
3        4  18.0  217197   53676                12             26
4        5  30.0   53457  149919                 5             42
...    ...   ...     ...     ...               ...            ...
4995  4996  22.0  297137   14588                 0             58
4996  4997  30.0  264870   74331                10             38
4997  4998  18.0  298800   17671                12             55
4998  4999  18.0  126562  240510                 5             41
4999  5000  22.0   28744  206547                12             45

      Study_Hours  Gender Marital_Status       City  ... Country  \
0             9.0    Male        Married    Chennai  ...   India
1             7.8  Female        Married    Chennai  ...     USA
2             9.5       F        Married    Chennai  ...      UK
3             4.7       M        Married  Bangalore  ...   India
4             3.0    Male         Single     Mumbai  ...      UK
...           ...     ...            ...        ...  ...     ...
4995          1.7       F         Single  Bangalore  ...   India
4996          3.0       M        Married      Delhi  ...      UK
4997         10.0       F        Married    Chennai  ...     USA
4998          6.1    Male        Married     Mumbai  ...     USA
4999         10.0    Male        Married     Mumbai  ...     USA

     Education_Level Department  Job_Role Subscription Scholarship  \
0                 UG  Marketing     Clerk          Yes          No
1                PhD         IT   Analyst          Yes         Yes
2                 UG      Sales   Manager           No          No
3                 UG         HR  Engineer           No          No
4                PhD         IT   Manager          Yes         Yes
...              ...        ...       ...          ...         ...
4995              PG      Sales  Engineer           No          No
4996              PG  Marketing   Analyst          Yes         Yes
4997             PhD         IT  Engineer          Yes         Yes
4998              UG         HR     Clerk           No         Yes
4999              PG         HR   Manager          Yes         Yes

     Loan_Status Blood_Group Rating   Join_Date
0       Approved          O+    5.0  2023-01-01
1       Approved         AB+    1.0  2023/06/15
2       Approved          O-    5.0  2023/06/15
3       Approved          B+    5.0  2023-01-01
4       Approved          B+    3.0  15-08-2023
...          ...         ...    ...         ...
4995    Approved          A+    NaN         NaN
4996    Approved         AB+    4.0  15-08-2023
4997    Rejected          B+    3.0         NaN
4998    Approved          B+    2.0  2023/06/15
4999    Rejected          B+    NaN  2023-01-01

[5000 rows x 21 columns]

In [ ]:
df.shape

(5000, 21)

In [ ]:
num_cols = ["Salary", "Age", "Income"]
for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

In [ ]:
num_cols=["Age","Income","Salary"]
df[num_cols]=df[num_cols].fillna(df[num_cols].median())

In [ ]:
cat_cols = ["Gender", "Job_Role", "City", "State"]
for col in num_cols:
  df[col] = df[col].fillna(df[col].mode()[0])

In [ ]:
df['Gender']=df['Gender'].replace({
    "M":"Male",
    "male":"Male",
    "f":"Female",
    "female":"Female"
})
print(df)

        ID   Age  Income  Salary  Experience_Years  Working_Hours  \
0        1  18.0  159231  170661                 5             36
1        2  30.0  188094  111364                10             34
2        3  30.0   99175   66792                14             28
3        4  18.0  217197   53676                12             26
4        5  30.0   53457  149919                 5             42
...    ...   ...     ...     ...               ...            ...
4995  4996  22.0  297137   14588                 0             58
4996  4997  30.0  264870   74331                10             38
4997  4998  18.0  298800   17671                12             55
4998  4999  18.0  126562  240510                 5             41
4999  5000  22.0   28744  206547                12             45

      Study_Hours  Gender Marital_Status       City  ... Country  \
0             9.0    Male        Married    Chennai  ...   India
1             7.8  Female        Married    Chennai  ...     USA
2             9.5       F        Married    Chennai  ...      UK
3             4.7    Male        Married  Bangalore  ...   India
4             3.0    Male         Single     Mumbai  ...      UK
...           ...     ...            ...        ...  ...     ...
4995          1.7       F         Single  Bangalore  ...   India
4996          3.0    Male        Married      Delhi  ...      UK
4997         10.0       F        Married    Chennai  ...     USA
4998          6.1    Male        Married     Mumbai  ...     USA
4999         10.0    Male        Married     Mumbai  ...     USA

     Education_Level Department  Job_Role Subscription Scholarship  \
0                 UG  Marketing     Clerk          Yes          No
1                PhD         IT   Analyst          Yes         Yes
2                 UG      Sales   Manager           No          No
3                 UG         HR  Engineer           No          No
4                PhD         IT   Manager          Yes         Yes
...              ...        ...       ...          ...         ...
4995              PG      Sales  Engineer           No          No
4996              PG  Marketing   Analyst          Yes         Yes
4997             PhD         IT  Engineer          Yes         Yes
4998              UG         HR     Clerk           No         Yes
4999              PG         HR   Manager          Yes         Yes

     Loan_Status Blood_Group Rating   Join_Date
0       Approved          O+    5.0  2023-01-01
1       Approved         AB+    1.0  2023/06/15
2       Approved          O-    5.0  2023/06/15
3       Approved          B+    5.0  2023-01-01
4       Approved          B+    3.0  15-08-2023
...          ...         ...    ...         ...
4995    Approved          A+    NaN         NaN
4996    Approved         AB+    4.0  15-08-2023
4997    Rejected          B+    3.0         NaN
4998    Approved          B+    2.0  2023/06/15
4999    Rejected          B+    NaN  2023-01-01

[5000 rows x 21 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Education_Level']=le.fit_transform(df['Education_Level'])
df.head()

,ID,Age,Income,Salary,Experience_Years,Working_Hours,Study_Hours,Gender,Marital_Status,City,...,Country,Education_Level,Department,Job_Role,Subscription,Scholarship,Loan_Status,Blood_Group,Rating,Join_Date
0,1,18.0,159231,170661,5,36,9.0,Male,Married,Chennai,...,India,2,Marketing,Clerk,Yes,No,Approved,O+,5.0,2023-01-01
1,2,30.0,188094,111364,10,34,7.8,Female,Married,Chennai,...,USA,1,IT,Analyst,Yes,Yes,Approved,AB+,1.0,2023/06/15
2,3,30.0,99175,66792,14,28,9.5,F,Married,Chennai,...,UK,2,Sales,Manager,No,No,Approved,O-,5.0,2023/06/15
3,4,18.0,217197,53676,12,26,4.7,Male,Married,Bangalore,...,India,2,HR,Engineer,No,No,Approved,B+,5.0,2023-01-01
4,5,30.0,53457,149919,5,42,3.0,Male,Single,Mumbai,...,UK,1,IT,Manager,Yes,Yes,Approved,B+,3.0,15-08-2023

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoding_col=["Education_Level","Department"]
le=LabelEncoder()
for col in encoding_col:
  df[col]=le.fit_transform(df[col])
df.head()

In [ ]:
#binary encoding
df['Loan_Status']=df['Loan_Status'].map({"Rejected":0,"Approved":1})
df.head()

,ID,Age,Income,Salary,Experience_Years,Working_Hours,Study_Hours,Gender,Marital_Status,City,...,Country,Education_Level,Department,Job_Role,Subscription,Scholarship,Loan_Status,Blood_Group,Rating,Join_Date
0,1,18.0,159231,170661,5,36,9.0,Male,Married,Chennai,...,India,2,Marketing,Clerk,Yes,No,1,O+,5.0,2023-01-01
1,2,30.0,188094,111364,10,34,7.8,Female,Married,Chennai,...,USA,1,IT,Analyst,Yes,Yes,1,AB+,1.0,2023/06/15
2,3,30.0,99175,66792,14,28,9.5,F,Married,Chennai,...,UK,2,Sales,Manager,No,No,1,O-,5.0,2023/06/15
3,4,18.0,217197,53676,12,26,4.7,Male,Married,Bangalore,...,India,2,HR,Engineer,No,No,1,B+,5.0,2023-01-01
4,5,30.0,53457,149919,5,42,3.0,Male,Single,Mumbai,...,UK,1,IT,Manager,Yes,Yes,1,B+,3.0,15-08-2023

In [ ]:
df['Marital_Status']=df['Marital_Status'].map({"Married":1,"Single":0})
df.head()

,ID,Age,Income,Salary,Experience_Years,Working_Hours,Study_Hours,Gender,Marital_Status,City,...,Country,Education_Level,Department,Job_Role,Subscription,Scholarship,Loan_Status,Blood_Group,Rating,Join_Date
0,1,18.0,159231,170661,5,36,9.0,Male,1,Chennai,...,India,2,Marketing,Clerk,Yes,No,1,O+,5.0,2023-01-01
1,2,30.0,188094,111364,10,34,7.8,Female,1,Chennai,...,USA,1,IT,Analyst,Yes,Yes,1,AB+,1.0,2023/06/15
2,3,30.0,99175,66792,14,28,9.5,F,1,Chennai,...,UK,2,Sales,Manager,No,No,1,O-,5.0,2023/06/15
3,4,18.0,217197,53676,12,26,4.7,Male,1,Bangalore,...,India,2,HR,Engineer,No,No,1,B+,5.0,2023-01-01
4,5,30.0,53457,149919,5,42,3.0,Male,0,Mumbai,...,UK,1,IT,Manager,Yes,Yes,1,B+,3.0,15-08-2023

In [ ]:
df=pd.get_dummies(df,columns=['Blood_Group'],drop_first=True)
df.head()

,ID,Age,Income,Salary,Experience_Years,Working_Hours,Study_Hours,Gender,Marital_Status,City,...,Job_Role,Subscription,Scholarship,Loan_Status,Rating,Join_Date,Blood_Group_AB+,Blood_Group_B+,Blood_Group_O+,Blood_Group_O-
0,1,18.0,159231,170661,5,36,9.0,Male,1,Chennai,...,Clerk,Yes,No,1,5.0,2023-01-01,False,False,True,False
1,2,30.0,188094,111364,10,34,7.8,Female,1,Chennai,...,Analyst,Yes,Yes,1,1.0,2023/06/15,True,False,False,False
2,3,30.0,99175,66792,14,28,9.5,F,1,Chennai,...,Manager,No,No,1,5.0,2023/06/15,False,False,False,True
3,4,18.0,217197,53676,12,26,4.7,Male,1,Bangalore,...,Engineer,No,No,1,5.0,2023-01-01,False,True,False,False
4,5,30.0,53457,149919,5,42,3.0,Male,0,Mumbai,...,Manager,Yes,Yes,1,3.0,15-08-2023,False,True,False,False

In [ ]:
df.to_csv("cleaned_banking_dataset.csv",index=False)
from google.colab import files
files.download("healthcare_dataset.csv")